body{
    background-color: rgb(197, 183, 171);
   
  
}

.container {
  
    color: rgb(19, 24, 4);
 
    text-align: center;
    margin-top: 150px;
    margin-left: 50px;
    margin-left: 50px;
   
  }
  
  #timer {
    font-size: 40px;
    font-weight: bold;
  }
  